* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vmin;
  background-color: #e4e6eb;
}
div {
  margin-top: 1.5rem;
}

.container {
  background-color: #fff;
  padding: 2rem;
  border-radius: 10%;
  width: 50vmin;
  height: 60vmin;
}

.form {
  margin: 2rem 0 1rem 0;
}
form select,
button,
input {
  width: 100%;
  margin: 1rem 0 1rem 0;
  border: none;
  outline: none;
  border-radius: 0.75rem;
}
form button {
  padding: 1rem;
}
form input {
  border: 1px solid lightgrey;
  font-size: 1rem;
  height: 1.75rem;
}

.dropdown {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dropdown i {
  font-size: 1.5rem;
  margin-top: 1.75rem;
}
.to p,
.form p {
  margin-bottom: 0.5rem;
}

.select-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  border: 1px solid lightgrey;
  border-radius: 1rem;
  padding: 0 0.5rem 0 0.5rem;
}
.select-container img {
  max-width: 1.75rem;
}

.msg {
  margin: 2rem 0 2rem 0;
}

button {
  cursor: pointer;
}
